.girl-profile {
    font-family: Montserrat, sans-serif;
}

.model-name-g {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.profile-container-g {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 20px;
}

.parameters-g {
    max-width: 40%;
    padding: 0 0 20px 20px;
}

.main-photo-g img {
    max-width: 300px;
    max-height: 400px;
    border-radius: 10px;
}

.additional-photos-g {
    text-align: center;
}

.photos-grid-g {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.photos-grid-g img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.instagram-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
