.home {
  font-family: Montserrat, sans-serif;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 10; 
}

.logo {
  position: fixed; 
  top: 20px; 
  left: 20px;
  width: 40px;
  height: auto;
  z-index: 1000; 
}


.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90rem; 
  height: 20rem; 
  object-fit: cover;
  z-index: -1; 
  border-radius: 10px; 
}

.overlay {
  position: relative;
  z-index: 10; 
  text-align: center;
  color: white;
}

.overlay h1 {
  
  font-size: 4rem;
  font-weight: bold;
}