.photographer-cabinet-page {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.photographer-header {
    display: flex;
    flex-direction: column;
}

.photographer-header h1 {
    text-align: center;
    color: #333;
    font-size: 48px;
}

.info-content-p {
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 800px;
}

.info-content-p h2 {
    font-size: 2rem;
    color: #333;
}

.info-content-p h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
}

.info-content-p p {
    font-size: 1.1rem;
    color: #666;
    text-align: justify;
}

.create-session-form {
    border-radius: 6px;
    background: #eaeaea;
    display: flex;
    width: 500px;
    padding: 20px;
    flex-direction: column;
    margin: 20px auto;
}

.create-session-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.create-form {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.create-form label {
    margin-top: 12px;
    font-size: 1rem;
    color: #555;
}

.create-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
}

.create-button {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.create-button:hover {
    background-color: #555;
}

.sessions-header-p {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.sessions-header-p h2 {
    font-size: 32px;
    color: #333;
}

.no-session-p {
    margin: 0px 0px 20px 20px;
}

.no-session-p p {
    font-size: 18px;
    color: #333;
}

.sessions-container-p {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 0px 20px 20px 20px;
}

.session-card-p {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    transition: transform 0.2s ease;
}

.sessions-container-p h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
}

.sessions-container-p h3 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 10px;
}

.sessions-container-p p {
    color: #333;
    font-size: 1.1rem;
}

.session-applications-list {
    margin-top: 3px;
}

.application-item {
    margin-bottom: 10px;
    padding: 8px;
    background: #eaeaea;
    border-radius: 4px;
    text-align: center;
}

.application-item a {
    display: block;
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
  }
  
  .application-item a:hover {
    text-decoration: underline;
  }

  .model-chat-link {
  cursor: pointer;
  color: #000;
  font-weight: 500;
  text-decoration: underline;
}

.model-chat-link:hover {
  opacity: 0.7;
}

.chat-wrapper {
  margin: 40px auto;
  max-width: 700px;
}

.close-chat-btn {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}
