.view-model-form {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 20px;
}

.border {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 1000px;
    margin: 20px auto;
}

.model-name {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.profile-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.parameters {
    max-width: 40%;
    padding: 0 20px;
}

.instagram-icon-form {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.main-photo img {
    max-width: 300px;
    max-height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.additional-photos-v {
    text-align: center;
}

.photos-grid-v {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
}

.additional-photo-v-img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    border-radius: 10px;
    object-fit: cover;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.approve-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 5px;
    background-color: #ffffff;
    border: 1px solid #386f44;
    color: #386f44;
    cursor: pointer;
    transition: 0.2s;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.reject-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 5px;
    background-color: #ffffff;
    border: 1px solid #be3501;
    color: #be3501;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.approve-button:hover {
    background-color: #386f44;
    color: #fff;
}

.reject-button:hover {
    background-color: #be3501;
    color: #fff;
}