.footer {
    font-family: Montserrat, sans-serif;
    width: 100%; 
    background-color: black; 
    color: white; 
    text-align: center; 
    padding: 20px;
    font-size: 1rem;
    position: relative; 
    bottom: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
}
.footer a {
    color: white; 
    text-decoration: none; 
}

.footer-p {
    color: white; 
    text-decoration: none; 
    font-size: 1rem;
    text-align: center; 
}

.footer a:hover {
    color: #ff6347;
    text-decoration: underline; 
}