.menu-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000; 
}

.bar {
  width: 30px;
  height: 4px;
  background: black;
  margin: 5px 0;
  transition: 0.3s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.menu ul {
  list-style: none;
  text-align: center;
  padding-inline-start: 0px;
}

.menu ul li a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}
